* {
    max-width: 100%;
}

.height-custom {
    min-height:60vh;
}

.navbar-customclass {
    background-color: orange;
    color: brown; 
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    flex-wrap: nowrap;
}

.title-custom{
    color: brown; 
    font-family: "DM Serif Text", serif;
    font-weight: 400;

    font-style: normal;
}

/* .contenitore-fisso{
    width: 100%;
    height: 60px; 
    overflow: hidden;
} */